<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://jelix.org/ns/module/1.0">
    <info id="import" name="import" createdate="2022-12-10">
        <version date="2025-12-01">1.4.3</version>
        <label lang="en_US">Import</label>
        <description lang="en_US" />
        <license URL="">Mozilla Public Licence (MPL)</license>
        <copyright>2022-2025 3liz</copyright>
        <creator name="3liz" email="info@3liz.com" active="true"/>
        <homepageURL>http://3liz.com</homepageURL>
    </info>
    <dependencies>
        <module name="lizmap" minversion="3.7.*" maxversion="3.9.*"/>
    </dependencies>
    <autoload>
        <namespacePathMap name="ImportCsv" dir="lib"/>
    </autoload>
</module>
