/* IMPORT CSV module*/
#sub-dock #import-csv {
  font-size: 0.8em;
}
#sub-dock #import-csv form label,
#sub-dock #import-csv form .btn
{
  font-size: 1em;
}

#sub-dock .nav-tabs>li>a {
  font-size: 0.9em;
  color: darkgray;
  padding: 5px;
  border: 1px solid darkgrey;
  border-bottom-color: transparent;
}

#sub-dock .nav>li>a:hover,
.nav>li>a:focus {
  text-decoration: none;
  color: black;
}

#sub-dock .nav-tabs>li>a:hover,
.nav-tabs>li>a:focus {
  border-color: darkgrey;
}

#sub-dock .nav-tabs>.active>a,
.nav-tabs>.active>a:hover,
.nav-tabs>.active>a:focus {
  color: black;
  cursor: default;
  background-color: lightgrey;
  border: 1px solid darkgray;
  border-bottom-color: transparent;
}


#import-csv div.menu-content {
  font-size: 12px;
  line-height: normal;
  padding: 5px;
}

#import-csv div.menu-content h4 {
  color: var(--color-contrasted-text, white);
  background-color: var(--color-contrasted-elements, #43718c);;
  width: 100%;
  padding: 3px;
  font-size: 13px;
  font-weight: bold;
}

#import-csv div.menu-content table tr th {
  font-size: 11px;
}
